/* Variables */
:root {
  --clr-primary: #ece9e6;
  --clr-gray: #999;
  --clr-light-gray: rgb(230, 230, 230);
  --clr-light1-gray: #f5f5f5;
  --clr-pink: #9b6577;
  --clr-light-pink: #f8d7da;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-danger: #721c24;
  --clr-dark-blue: #24292f;
}

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.main {
  background: linear-gradient(to right, var(--clr-primary), var(--clr-white));
}
.container {
  max-width: 1366px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 100vh;
}

/* Repos Search */
.repos-search {
  padding-top: 40px;
  margin-bottom: 50px;
}

.form {
  display: flex;
  justify-content: center;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  border: 1px solid var(--clr-gray);
  background: var(--clr-white);
  border-radius: 18px;
  padding: 10px 10px 10px 5px;
} 

.search-icon {
  color: var(--clr-gray);
  width: 15px;
  cursor: pointer;
}

.search-input {
  width: 93%;
  outline: none;
  border: none;
  height: 100%;
}

/* Repose Cards */
.repositories-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(303px, 1fr));
  gap: 25px;
  padding-bottom: 50px;

}
@media (max-width: 1053px) {
    .repositories-cards {
      grid-template-columns: repeat(auto-fill, 303px);
      justify-content: center;
    }
  }

.repository-card {
  display: flex;
  flex-direction: column;
  background: var(--clr-white);
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.repository-card::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 65px;
  right: 10px;
  border-bottom: 2px solid var(--clr-light-gray);
}
.repository-card::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 35px;
  right: 0;
  border-bottom: 2px solid var(--clr-light-gray);
}
.repose-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.full-name {
  font-weight: 500;
}

.repose-name img{
  width: 45px;
  border-radius: 50%;
}

.repose-stars, .repose-forks, .repose-open-issues, .repose-age, .repose-last-commit,
  .repose-license, .repose-language {
  display: flex;
  justify-content: space-between;
  padding: 7px 10px;
}

.icon-box {
  display: flex;
  align-items: center;
  flex-basis: 115px;
}

.icons {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.btn-remove {
  background: var(--clr-white);
  outline: none;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: var(--clr-pink);
  font-weight: bold;
}

.btn-remove:hover {
  background: var(--clr-light1-gray);
}


/* Loading */
.loading-box {
  height: 334px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid var(--clr-black);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid var(--clr-gray);
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Alert */
.alert {
  height: 33px;
  display: grid;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 30px;
}

.alert-danger {
  color: var(--clr-danger);
  background: var(--clr-light-pink);
}

/* utilities */
.mt-7 {
  margin-top: 7px;
}
.mb-7 {
  margin-bottom: 7px;
}
.clr {
  color: var(--clr-dark-blue);
}